:root
{
   /* Colors */
   --primary-color: #fff; 
   --secondary-color: #1892C3;
   --tertiary-color: #101011;
   --slider-section-bg-color: #f2f2f2;
   --desc-container-bg-color: rgba(0, 0, 0, .6);
   --btn-primary-bg-color: #1892c3;


   /* Radii */
   --base-border-radius: 10px;

   /* Shadows */
   --box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}


.container
{
   width: 80vw;
}

.btn
{
   padding: 15px;
   border-radius: calc(var(--base-border-radius) * 5);
}

.btn-primary
{
   background-color: var(--btn-primary-bg-color);
}